## Rx
github "ReactiveX/RxSwift"
github "RxSwiftCommunity/Action"
# 動作実績のあるバージョンを指定
github "RxSwiftCommunity/RxWebKit" "master" 
github "cats-oss/Unio" ~> 0.8

## Infra
github "ishkawa/APIKit" ~> 5.1

## UI
github "AliSoftware/Reusable" ~> 4.1
github "ElaWorkshop/TagListView" ~> 1.0